@font-face {
  font-family: TPF Rubber Ducky;
  src: url(TPF\ Rubber\ Ducky.ttf);
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 0px 5px black;
}

#main-div {
  background-image: url("images/rabbit-board.png");
  background-size: cover;
  font-weight: bold;
  font-family: TPF Rubber Ducky;
  text-align: center;
  color: aliceblue;
  width: 600px;
  height: 900px;
}

h1 {
  margin-top: 70%;

}

h2 {
  font-size: 50px;
}

button {
  border: 1px solid;
  padding: 10px 10px;
  margin: 5px;
  color: white;
  font-weight: bold;
  font-size: medium;
  font-family: TPF Rubber Ducky;
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.04);
}

#increment-btn {
  background: rgb(108, 37, 37);
}

#save-btn {
  background: rgb(44, 95, 44);
}
#decrement-btn {
  background: rgb(2, 126, 154);
}
#reset-btn {
  background: rgb(33, 49, 108);
}

#save-el {
  font-size: large;
}